@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orbitron&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 100%;
}

.cabecalho {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cabecalho-logo {
    height: 80px;
}

.cabecalho-item {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: aliceblue;
}

.conteudo {
    background-color: rgb(233, 234, 235);
    width: 100%;
    padding: 0 0 20px 0;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;   
}


.banner-img {
    width: 100%;
    height: 20vh;
}

.banner-img-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.img-card2 {
    width: 100%;
    background-color: white;
    height: 200px;
}

.video {
    margin-top: 30px;
    text-align: center;
}

iframe {
    width: 335px;
    height: 534px;
}

.rodape {
    background-color: black;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.rodape-itens {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;  
}

.rodape-item {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.redesocial {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-left: 5px;
}

@media (min-width: 1280px) {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        width: 30%;
        height: 430px;
    }
    
    h1 {
        margin-left: 40%;
        margin-right: 40%;
    }

    .cabecalho {
        padding: 30px;
        align-items: center;
    }
    .cabecalho-item {
        margin: 50px;
    }

    .cabecalho-logo {
        height: 80px;
    }

    .video {
        margin-top: 30px;
        text-align: center;
        margin: 10%;
    }

    iframe {
        width: 1077px;
        height: 534px;
    }

    .banner-img {
        width: 100%;
    }

}

/* Perguntar ao professor como aumentar o player do vídeo e também como padronizar o tamanho das imagens dos cards. */