@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orbitron&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 100%;
}

.cabecalho {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cabecalho-logo {
    height: 100px;
}

.cabecalho-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: solid 1px aliceblue;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
}

.conteudo {
    background-color: rgb(233, 234, 235);
    width: 100%;
    padding: 0 0 20px 0;
    margin-top: 0px;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;   
}

h1 {
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    top: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.img-card2 {
    width: 100%;
    background-color: white;
    height: 200px;
}

.video {
    margin-top: 30px;
    text-align: center;
}

iframe {
    width: 45vh;
    height: 35vh;
}

.rodape {
    background-color: black;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.rodape-itens {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;  
}

.rodape-item {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.redesocial {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-left: 5px;
}

@media (max-width: 430px) {
    .banner {
        display: none;
    }
}

@media (min-width: 1280px) {
    .cabecalho {
        height: 150px;
    }

    .cabecalho-itens {
        display: flex;
        margin-top: -30px;
    }

    .cabecalho-item {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        padding: 20px;
        border-radius: 20px;
    }

    .banner-img {
        width: 100%;
        height: 30vh;
        position: relative;
    }
    
    .banner-img-text {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 
    sans-serif;
        font-size: 12px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 270px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        width: 30%;
        height: 430px;
    }
    
    h1 {
        margin-left: 40%;
        margin-right: 40%;
    }

    .cabecalho {
        padding: 30px;
        align-items: center;
    }
    .cabecalho-item {
        margin: 50px;
    }

    .cabecalho-logo {
        height: 80px;
    }

    .video {
        margin-top: 30px;
        text-align: center;
        margin: 10%;
    }

    iframe {
        width: 1077px;
        height: 534px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img-text {
        top: 310px;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.8) ;
    }

}
